<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; 2020 Copyright: Marwan Salman.
            </div>
            <ul class="icons">
                <li><a href="https://github.com/Marwan123-web" target="_blank" class="icon fa-github"><span
                            class="label">Twitter</span></a></li>
                <li><a href="https://www.linkedin.com/in/marwan-salman-307219200/" class="icon fa-linkedin"
                        target="_blank"><span class="label">linkedIn</span></a></li>
            </ul>
        </div>
    </div>
</footer>