<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span [routerLink]="['/home']">Dokkanz's Task</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" (click)="openAngularUrl()">
        <mat-icon>link</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" (click)="openNodeUrl()">
        <mat-icon>link</mat-icon>
    </button>
</mat-toolbar>