<section class="wrapper  special">
    <div class="inner">
        <header>
            <h2>Categories</h2>
            <button class="button icon fa-plus" (click)="openDialog()">Add New Category </button>
        </header>
        <div class="flex flex-4">
            <div class="box person" *ngFor="let category of categories">
                <div class="image">
                    <img src="https://www.transparentpng.com/thumb/adidas-logo/picture-adidas-logo-1.png" alt="image" />
                </div>
                <h1>{{category.Name}}</h1>
                <button class="button" [routerLink]="['/category/details',category.Name]">View Category </button>
            </div>

        </div>
    </div>
</section>