
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

mat-form-field{
  background-color: #424242;
  color: #fff;
}

.div{
height: 100%;

}

.buttondiv button{
  border-radius: 20px;
}
button{
  margin-left: 13px;
  outline: 0 !important;
  
}

.buttondiv{
  display: block;
  background-color: #424242 !important;
  padding: 5px;
}